# Все папки bin и obj в любых подпапках
**/bin/
**/obj/
bin/
obj/

# Все скрытые папки VS и гита
.vs/
.git/
.vscode/

# Все файлы базы данных в любом месте проекта
*.mdf
*.ldf
*.db
*.sqlite

# Файлы самого докера (их не надо копировать внутрь образа)
docker-compose*
Dockerfile*
.dockerignore

# Огромные логи
*.log